h1{
  font-size:100px;
  color:#B7E3EC;
}
<style> body{background-color: black; color: white;} </style>
ul.nav li{
  display:inline;
  padding:10px;
  width:50px;
}
  ul.nav li a{
    display: inline-block;
    padding: 10px;
    background-color:#FBFBCF;
    color:#333;
    text-decoration:none;
  }
ul.nav li a:hover{
  background=color:#000;
}
